.thumbnail-preview-wrapper{
    width: 100%;
    // overflow: hidden;
    max-height: 240px;
    min-height: 240px;
    height: 240px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.thumbnail-preview-wrapper-small{
    width: 100%;
    // overflow: hidden;
    max-height: 150px;
    min-height: 150px;
    height: 150px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}